#mapBody nav,
#mapBody header,
#mapBody #tabFilter,
#mapBody #toggleNav,
#mapBody #mapControls,
.printMap #templateMain,
.printMap #textEditLink,
.printMap .ui-dialog-titlebar{
	display: none !important;
}

#mapBody #mapScroll{
	margin-left: 0px !important;
	overflow: hidden;
}

.printMap .ui-dialog{
	border: none !important;
}